@model IEnumerable<Course.MvcApp.Models.MvcModels.OrganizationModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your organizations</h1>

<p>
    <a asp-action="Create">Create new organization</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="View" asp-controller="Organization" asp-route-organizationId="@item.OrganizationId">View</a>
            </td>
        </tr>
}
    </tbody>
</table>
